<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Mirahaj</title>
    <link rel="stylesheet" href="/static/css/quantum.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
    {% include 'partials/header.html' %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% include 'partials/footer.html' %}
    
    <script src="/static/js/quantum.js"></script>
</body>
</html>
